.*
~*
!.gitignore
!.bumpversion.cfg
!.pre-commit-config.yaml
!.*.example
!.python-version
!.nvmrc

node_modules
*.pyc
__pycache__
db.sqlite3

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
